.venv/
__pycache__/
*.pyc
models/
.env
*.log
.pytest_cache/
.mypy_cache/
.DS_Store
知识图谱构建数据集/*.pdf
*.pdf 
*.DS_*

# 忽略庞大的原始数据和中间提取结果
data/entities/*_raw.*
data/relations/*_raw.*
data/terminology/*_raw.*
data/text/
